extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Mauricio Pichardo


        p.lead.text-light
          | Technology Executive and Leader with deep technology experience.


        .portfolio-bio
          p
            | I've been building out my technical skillset to ensure that I have a technical acument to lead all departments in a fast  
            | growing technology company.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

      
        ul
          li Express
          li Node
          li Javascript
          li CSS
          li Python 
          li Machine Learning
          li Photoshop 
          li Product Managment     
        h6 Contact Info


        ul
          li 312-547-0689
          li mauriciopichardol@email.com

  
        a.button.expanded(href='https://www.linkedin.com/in/mauricio-pichardo/') LinkedIn
        a.button.expanded(href='https://github.com/MauricioPichardo') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
